.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.page-footer__container {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        flex-grow: 1;
    }
}