.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;
    
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    
    font-size: 28px;
    line-height: 1.18;

    color: var(--primary-color);
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        
        font-size: 36px;
        line-height: 1.17;
    }
}

.section--nopadding-top {
    padding-top: 0;
}

.section--user-background {
    background-color: #F5F4FA;
}

.section--hidden {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}